server:
  port: 7070

spring:
  application:
    name: book

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/chomini?serverTimezone=Asia/Seoul
    username: mytest
    password: 1234

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    #      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
#      ddl-auto: none
logging:
  level:
    org:
      hibernate:
        sql: debug
        type:
          descriptor:
            sql: trace
